<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252458349142-l96autpekba2afouf8fr30lq4e57m1lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252458349142-l96autpekba2afouf8fr30lq4e57m1lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBy1P2LDm2eKcuvKTsDnTyp8KWPuwTzNHg</string>
	<key>GCM_SENDER_ID</key>
	<string>252458349142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.na-at.Na-atPeople</string>
	<key>PROJECT_ID</key>
	<string>na-atpeople</string>
	<key>STORAGE_BUCKET</key>
	<string>na-atpeople.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252458349142:ios:d3d21c23a2a1d0240441f7</string>
</dict>
</plist>